%fontwhite {
  color: $color-text-nav;
  font-family: $font-nav;
}
%alltrans {
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

%flexcenterall {
  display: flex;
  align-content: center;
  justify-content: center;
}