i.fa-search{
    color: white;
    margin-right: 10px;
}

i.fa-play, i.fa-plus {
    color:white;
    margin-right: 10px;
}

.button-cover {
    height: 2.5em;
    width: 135px;
    margin: auto 3px;
    padding: auto 10px;
    background-color: black;
    color: white;
    opacity: 0.7;
}