i.fa-play, i.fa-plus {
    color:white;
    margin-right: 10px;
    &:hover{
        color:black;
    }
}

.button-mylist {

}

.button-cover {
    @extend %fontwhite;
    border: none;
    height: 2.5em;
    width: 135px;
    margin: auto 3px;
    padding: auto 10px;
    background-color: black;
    color: white;
    opacity: 0.7;
    &:hover {
        background-color: white;
        color: black;
        & > i {
            color:black;
        }
    }
}