i.fa-play {
    color: white;
    margin-right: 0px;
    position: relative;
    right: 11px;
    &:hover{
        color:black;
    }
}

i.fa-plus {
    color: white;
    margin-right: 18px;
    position: relative;
    right: -5px;
    top: 1px;
    &:hover{
        color:black;
    }
}


.button-cover {
    @extend %fontwhite;
    border: none;
    height: 2.5em;
    width: 135px;
    margin: auto 3px;
    padding-top: 4px;
    background-color: black;
    color: white;
    opacity: 0.7;
    &:hover {
        background-color: white;
        color: black;
        & > i {
            color:black;
        }
    }
}