input[type=search] {
    background: transparent;
    color: $color-text-nav;
    font-family: $font-nav;
    font-size: 0.9em;
    font-weight: 300;
    outline: none;
    border: none;
    &::placeholder{
        font-weight: 300;
    }
}

#search {
    width: 225px;
}

