.container {
  display: block;
  margin: auto 4%;

}

.container-nav {
  position: fixed;
  height: 68px;
  width: 100%;
  margin: 1% 4%;
  background: transparent;
}

.navigator {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  // margin: auto 3.5%;
}

.back-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 800px;
  overflow: hidden;
}

.file-cover--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 120px) 2fr;
  margin-bottom: 1.8%;
}

.file-cover {
  grid-row-start: 4;

}

.box-search {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
  height: 2.1em;
}

.push-right {
  margin-left: 40.1%;
}

.carousel {
  margin-bottom: 3.8em;
}

.carousel-h__cw {
  margin-bottom: 2.6em;
}

.carousel-h {
  margin-bottom: 3.5em;

}

.carousel-container {
  display:flex;
  flex-direction: row;

}

.item-carousel {
  margin-right: 5px;
}

.item_h-carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 5px;

}
