.container {
  display: block;
  margin: auto 3.5%;

}

.container-nav {
  position: fixed;
  height: 68px;
  width: 100%;
  background-color: black;
}

.navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin: auto 3.5%;
}

.back-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 800px;
  overflow: hidden;
}

.file-cover--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 120px) 2fr;
}

.file-cover {
  grid-row-start: 4;

}

.box-search {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 5px;
  height: 2.1em;
}
.push-right {
  margin-left: 38.5%;
}

