// .logo {
//   // display: flex;
//   // // margin-left: 3.5%;
//   // align-content: center;
//   // width: 7em;
//   // height: auto;
// }

.cover {
  // height: 100vh;
  width: 100vw;
}

.back-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  height: 50em;
  overflow: hidden;
}

i {
  color: black;
}

.item-vcover {
  height: 121.69px;
  width: 216px;
}

.title-file-cover {
  max-width: 100%;
  margin-bottom: 1.46em;
  margin-left: 0.2em;
}

