.nav-h {
  display: flex;
  margin-left: 2em;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  width: auto;
  text-decoration: none;
  color: $color-text-nav;
  font-family: $font-nav;
  font-size: 0.9em;
  align-self: center;
  margin-right: 0.9em;
  &:hover {
    font-weight: bold;
  }
}